[submodule "vendor/ftxui"]
	path = vendor/ftxui
	url = https://github.com/ArthurSonzogni/ftxui.git
[submodule "vendor/tomlplusplus"]
	path = vendor/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
